<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:insert="~{comum/header :: head}"></header>
<div th:replace="~{comum/header :: div.body-nav}"></div>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(/images/21.jpg);">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animated bounceInDown" data-animate-effect="fadeIn">
						<h1 style="margin-top: -50px">NOSSO TREINAMENTO SMBR</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

</body>
</html>