<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supremacia | BR</title>
    <title th:text="${title} + ' | MSCODE'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site do Comando SMBR GTAV Online" />
    <meta name="keywords" content="GTAV SMBR Comando gtav online" />
    <meta name="author" content="mscode" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href='<c:url value="resources/css/icomoon.css"/>'>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href='<c:url value="resources/css/bootstrap.css"/>'>

    <!-- Magnific Popup -->
    <link rel="stylesheet" href='<c:url value="resources/css/magnific-popup.css"/>'>

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href='<c:url value="resources/css/owl.carousel.min.css"/>'>
    <link rel="stylesheet" href='<c:url value="resources/css/owl.theme.default.min.css"/>'>

    <!-- Theme style  -->
    <link rel="stylesheet" href='<c:url value="resources/css/style.css"/>'>

    <!-- Modernizr JS -->
    <script href='<c:url value="resources/js/modernizr-2.6.2.min.js"/>'></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">

        .gtco-nav a{color: #000 !important;}
        .gtco-cover .overlay {border-bottom: 1px solid gray;background: rgba(0, 0, 0, 0.3);}
        .box-opacity {background-color: rgba(0, 0, 0, 0.8);padding: 40px;border-radius: 3px;}
        .gtco-nav {border-bottom: 1px solid #ccc;padding: 15px 0;}
        #gtco-counter .counter-label { color: rgba(255, 255, 255, 1.0); }
        .gtco-heading {margin-bottom: 4em;}
        .btn-primary {background: red; border: 2px solid red !important;}
        .feature-center .icon i {color: red;}
        .gtco-cover a {color: rgba(255, 255, 255, 1.0);}
    </style>



</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation" style="border-bottom: 1px solid #ccc;">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="gtco-logo"><a href="https://supremaciabr.herokuapp.com/">SMBR</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li id="pagIndex" ><a href="https://supremaciabr.herokuapp.com/">Home</a></li>
                        <li><a href="#">Sobre o comando</a></li>
                        <li class="pagRegime"><a href="regimeinterno">Regimento</a></li>
                        <li class="has-dropdown">
                            <a href="services.html">Serviços</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Calendário</a>
                            <ul class="dropdown">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">Sass</a></li>
                                <li><a href="#">jQuery</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Recrutamento</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>