<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:insert="~{comum/header :: head}"></header>
<div th:replace="~{comum/header :: div.body-nav}"></div>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(/images/31.jpg);">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animated bounceInDown" data-animate-effect="fadeIn">
						<h1 style="margin-top: -50px">CALENDARIO SMBR</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="col-md-8 col-md-offset-2 text-center"
style="
	background: #000;
    width: 56%;
    height: 260px;
    margin-top: -13%;
    margin-left: 21%;
    z-index: 10;
    color: #fff;
    transform: rotate(-20deg);">

	<span style="font-size: 75px">NÃO ESTAMOS MAIS EM ATIVIDADE</span>

</div>

</body>
</html>